<h3><%= I18n.t('task.new') %></h3>
<%= form_for :task, :url => tasks_path, :remote => true,  html: {role: :form, 'data-model' => 'task'} do |f|%>
  <div class="form-group">
    <%= f.text_area :description ,:class => "form-control text-input", :rows => "5", :placeholder => I18n.t('task.description'),
                  :onfocus => "if(this.value==\"\") {this.value='#{I18n.t('task.please')}'}" %>
    <span class="help-block"></span>
  </div>
  <div class="form-group">
    <%= f.text_field :cookie ,:class => "form-control text-input", :placeholder => I18n.t('task.cookie') %>
    <span class="help-block"></span>
  </div>
  <div class="form-group" style="text-align: center">
    <%= f.submit I18n.t('task.create'), :class => "btn light-btn" %>
  </div>
<% end %>