<div class="container-fluid">
<%= @task.status %> <!-- just for debug -->


			<div class="col-md-12">
				<div class="col-md-2">
					<img class="avatar" src="<%= @task.user.picture_url %>">
				</div>
				<div class="col-md-10">
					<span class="username"><span class="otext"><%= @task.user.name %> </span> создал задание</span>
					<!--p class="username">Задание выполняет: <span class="org-text"><%= @task.slave_id %> </span></p-->
					<div class="text-block btext"><%= @task.description %></div>
					<span>Награда</span>
					<p class="text-block btext"><%= @task.cookie %></p>
					<center>
						<div class="col-md-12" >
							<%= control_buttons(@current_user,@task) %>
						</div>
					</center>
				</div>
			</div>
</div>
