<div class="row bar">
  <span class="btext navbar-center" style="font-size:20px"><span class="wtext"><%= @task.user.name %> </span> создал задание</span>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12">

        <div class="row">
        <span class="btext"><span class="otext"><%= @task.slave.nil? ? "Никто не" : @task.slave.name %> </span> выполняет задание</span>
        </div>
        <div class="text-block "><%= @task.description %></div>
        <div class="row">
        <span class="btext">Награда за выполнение:</span>
        </div>
        <p class="text-block "><%= @task.cookie %></p>
        <center>
          <div class="col-md-12" >
            <% if @task.isOwner? @current_user %>
              <%= render partial: "tasks/controls_owner", locals: { task: @task } %>
            <% else %>
              <%= render partial: "tasks/controls_slave", locals: { task: @task } %>
            <% end %>
          </div>
        </center>
      </div>
    </div>
  </div>

  <div id="share_bar" class="row navbar-right" style="margin-top:10px; visibility: visible">
   <%= render partial: "tasks/share", locals: { task: @task } %>
  </div>
</div>
