<div class="container-fluid">
<%= @task.status %> <!-- just for debug -->


			<div class="col-md-12">
				<div class="col-md-2">
					<img class="avatar" src="<%= @task.user.picture_url %>">
				</div>
				<div class="col-md-10">
					<span class="username"><span class="org-text"><%= @task.user.name %> </span> прислал вам задание</span>
					<div class="text-block"><%= @task.description %></div>
					<span>Награда</span>
					<p class="text-block"><%= @task.cookie %></p>
					<center>
						<%= control_buttons(@current_user,@task) %>
					</center>
				</div>
			</div>
</div>
