<!DOCTYPE html>
<html>
<head>
  <title>Создать</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
    <div id="parent_popup">
        <div id="popup">
            <%= yield :bar %>
            <%= yield %>
        </div>
    </div>
</div>

</body>
</html>
