<!DOCTYPE html>
<html>
<head>
  <%= yield :head %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
    <div class="parent_popup">
        <div class="popup">
            <nav class="navbar"> 
                  <div class="fleft">
                      <button type="button" class="btn nav-btn">
                      Back
                      </button>  
                    </div>

                    <div class="header">
                      Title
                    </div>                
                    
                    <div class="fright">
                      <button type="button" class="btn nav-btn">
                      Next
                      </button>
                    </div>
            </nav>
            <%= yield %>
        </div>
    </div>
</div>

</body>
</html>
