<!DOCTYPE html>
<html>
<head>  
  <title><%= full_title(yield(:title)) %></title>  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
    <div class="parent_popup">
        <div class="popup">
            <nav class="navbar dialog-bar"> 
                  <div class="fleft">
                  
                    <%= link_to "Назад", tasks_path, :class => "btn mrg light-btn", :style => "margin-left: 7px;" %>
                    </div>

                     <div class="header  col-md-5 col-md-offset-2">
                      Новое задание
                    </div>   
                  <!--   <div class="fright">
                    <%= yield(:nav_right_button) %>
                    </div>  -->            

            </nav>
            <%= yield %>
        </div>
    </div>
</div>

</body>
</html>
