<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TODOforME - Лента</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%= render :partial => 'layouts/top_bar' %>
    <%= yield %>
    <%= javascript_include_tag "application" %>

    <div id="mainDialog" class="dialog-box modal" style="background: rgba(0, 0, 0, 0.6);">
      <div class="dialog-content">
      </div>
    </div>


<script type="text/javascript">
  $("abbr.timeago").timeago();
</script>

  </body>
</html>